[submodule "external/gen1int"]
	path = external/gen1int
	url = https://gitlab.com/bingao/gen1int.git
[submodule "external/pelib"]
	path = external/pelib
	url = https://gitlab.com/pe-software/pelib-public.git
[submodule "external/qfitlib"]
	path = external/qfitlib
	url = https://github.com/cstein/qfitlib.git
