test/*pid*
*.o
*.a
Makefile.depend
configure_conftest.log
Makefile.config
bin/
modules/
include/compinfo.h
gp/binary_info.F90
dalton.setup
build*
Doc/*.aux
Doc/Master.dvi
Doc/Master.log
Doc/Master.bbl
Doc/Master.blg
Doc/Master.idx
Doc/Master.out
Doc/Master.pdf
Doc/Master.toc
cmake/argparse.pyc
*~
