*.pyc
build*/*
*.swp
LSDALTON/doc_LSDALTON/*.aux
LSDALTON/doc_LSDALTON/*.pdf
LSDALTON/doc_LSDALTON/*.log
LSDALTON/doc_LSDALTON/*.bbl
LSDALTON/doc_LSDALTON/*.blg
LSDALTON/doc_LSDALTON/*.idx
LSDALTON/doc_LSDALTON/*.ilg
LSDALTON/doc_LSDALTON/*.ind
LSDALTON/doc_LSDALTON/*.toc
LSDALTON/lsutil/reord*.F90
LSDALTON/test/TESTLOG
LSDALTON/deccc/*_sp.F90
DALTON/Doc/*.aux
DALTON/Doc/*.pdf
DALTON/Doc/*.log
DALTON/Doc/*.bbl
DALTON/Doc/*.blg
DALTON/Doc/*.idx
DALTON/Doc/*.ilg
DALTON/Doc/*.ind
DALTON/Doc/*.toc
DALTON/Doc/Master.out
DALTON/test/perl-pid.*
DALTON/test/perl_test.*
*~
.DS_Store
