[submodule "external/gen1int"]
	path = external/gen1int
	url = https://gitlab.com/bingao/gen1int.git
[submodule "external/xcfun"]
	path = external/xcfun
  	url = git://repo.ctcc.no/xcfun.git
[submodule "external/pelib"]
	path = external/pelib
	url = https://gitlab.com/pe-software/pelib-public.git
[submodule "external/ls-matrix-defop"]
	path = external/ls-matrix-defop
	url = https://gitlab.com/ajthorva/matrix-defop.git
[submodule "external/qfitlib"]
	path = external/qfitlib
	url = https://github.com/cstein/qfitlib.git
[submodule "external/efs"]
	path = external/efs
	url = git@repo.ctcc.no:efs.git
