[submodule "external/gen1int"]
	path = external/gen1int
	url = https://gitlab.com/bingao/gen1int.git
[submodule "external/xcfun"]
	path = external/xcfun
  	url = git://repo.ctcc.no/xcfun.git
[submodule "external/pelib"]
	path = external/pelib
	url = https://gitlab.com/pe-software/pelib-public.git
[submodule "external/qfitlib"]
	path = external/qfitlib
	url = https://github.com/cstein/qfitlib.git
[submodule "external/efs"]
	path = external/efs
	url = git@gitlab.com:dalton/efs.git
[submodule "external/pcmsolver"]
	path = external/pcmsolver
	url = https://github.com/PCMSolver/pcmsolver.git
[submodule "external/xcint"]
	path = external/xcint
	url = https://github.com/bast/xcint.git
[submodule "external/IchorIntegralLibrary"]
	path = external/IchorIntegralLibrary
	url = git@gitlab.com:dalton/IchorIntegralLibrary.git
