*.pyc
build*/*
*.swp
DALTON/Doc/*.aux
DALTON/Doc/*.pdf
DALTON/Doc/*.log
DALTON/Doc/*.bbl
DALTON/Doc/*.blg
DALTON/Doc/*.idx
DALTON/Doc/*.ilg
DALTON/Doc/*.ind
DALTON/Doc/*.toc
DALTON/Doc/Master.out
DALTON/test/perl-pid.*
DALTON/test/perl_test.*
*~
.DS_Store
